* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
/* navigation-Bar */
.container {
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
  z-index: 99999;
  width: 100%;
  height: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* navigation */

.navigation {
  width: 85%;
  height: auto;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1px 0px;
}

/* Logo */

.navigation .logo a {
  font-size: 30px;
  font-weight: 700;
  color: orangered;
  text-decoration: none;
}

/* Menubar */

.navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
}
.navigation ul li {
  width: 80px;
  text-align: center;
  line-height: 30px;
  display: inline-block;
}
.navigation ul li a {
  font-size: 16px;
  display: block;
  text-decoration: none;
  color: white;
  font-weight: 200;
}

.navigation ul li a:hover {
  color: orangered;
  box-shadow: 1px 0px 15px black;
  border-radius: 15px;
}

/* submenu */

.submenu {
  display: none;
}
.navigation ul :hover .submenu {
  display: block;
  border-radius: 15px;
  width: 220px;
  position: absolute;
  display: flex;
  flex-direction: column;
  border: 1px solid orangered;
  background-color: rgba(0, 0, 0, 0.637);
  box-shadow: 1px 1px 5px orangered;
}
.submenu li a {
  display: block;
  width: 218px;
  text-align: left;
  padding-left: 10px;
}

/* sub_menu */

.sub_menu {
  display: none;
}
.navigation ul :hover .sub_menu {
  display: block;
  border-radius: 15px;
  width: 140px;
  position: absolute;
  display: flex;
  flex-direction: column;
  border: 1px solid orangered;
  background-color: rgba(0, 0, 0, 0.637);
  box-shadow: 1px 1px 5px orangered;
}
.sub_menu li a {
  display: block;
  width: 138px;
  text-align: left;
  padding-left: 10px;
}

/* sub_sub_menu */

.sub_sub_menu {
  display: none;
}
.sub_sub_menu li a {
  display: block;
  width: 63px;
}
.navigation ul ul li:hover .sub_sub_menu {
  border: 1px solid orangered;
  box-shadow: 1px 1px 5px orangered;
  background-color: rgba(0, 0, 0, 0.637);
  display: block;
  width: 65px;
  left: 139px;
  top: 0px;
  border-radius: 15px;
  position: absolute;
  display: flex;
  flex-direction: column;
}

/* searchbar icons */

.search,
.theme {
  color: white;
  padding: 0px 10px;
  line-height: 30px;
}

/* Bar-button */

.bar_button {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 8px;
  right: 50px;
  display: none;
}
.bar_button a {
  color: white;
}

/* Theme */

.dark_mode {
  background-color: black;
  color: white;
}
#icon_left {
  display: none;
}
#icon_left_1 {
  display: none;
}
#icon_left_2 {
  display: none;
}

/* Bxslider */

.slide-container {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: auto;
}
.bx-wrapper {
  border: none;
}
.slide {
  width: 100%;
  position: relative;
}
.slide-container {
  width: 100%;
}
.slide img {
  width: 100%;
  height: 730px;
}
.caption {
  position: absolute;
  top: 250px;
  width: 80%;
  left: 10%;
  text-align: center;
}
.caption h3 {
  color: white;
  font-weight: bold;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 15px;
}
.caption h1 {
  color: white;
  font-weight: bold;
  text-transform: capitalize;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 60px;
  font-variant: normal;
  padding-top: 10px;
  padding-bottom: 30px;
}
.caption a {
  color: white;
  font-size: 16px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 600;
  background-color: rgb(255, 102, 0);
  border: none;
  border-radius: 10px;
  padding: 15px 25px;
  margin-top: 20px;
  line-height: 40px;
  text-decoration: none;
}

/* dots */

.bx-wrapper .bx-pager {
  padding-top: 20px;
  position: absolute;
  bottom: 50px;
}
.bx-wrapper .bx-pager.bx-default-pager a {
  width: 15px;
  height: 15px;
  border-radius: 10px;
  display: block;
}

.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active,
.bx-wrapper .bx-pager.bx-default-pager a:focus {
  background: orangered;
}

/* ---- */
.menu-change {
  background-color: rgba(0, 0, 0, 0.76);
  border-radius: 50px;
}
